body {
    background-color:  rgb(246, 255, 249);
}

footer {
    background-color: white;
    text-align: center;
    color:  rgb(104, 214, 80);
}

.jumbotron {
    background-color: white;
    color: rgb(104, 214, 80);
    text-align: left;
}

.input-group{
    width:50%;
}
.searchHistory{
    font-size: 20px;
}
    
