body {
    background-color:  rgb(246, 255, 249);
    background-image: url("denise-van-der-heide-uDM1PZe4OE8-unsplash (1).jpg");
    clear: both;
}

footer {
    position: fixed;
    background-color: white;
    font-size: 30px;
    color:  rgb(104, 214, 80);
    bottom: 0;
    Width: 100%;
    text-align: center;
}

.jumbotron {
    background-color: white;
    color: rgb(104, 214, 80);
    text-align: center;
}

.jumbotron-fluid {
    padding: 0em 0em;
}

.input-group{
    width:100%;
}


.searchHistory{
    font-size: 20px;
}

.btn-block {
    background-color: lightgray;
    text-align: left;
}


#searchResults {
    background-color: transparent;
    margin: auto;
    margin-bottom: 70px;
    width: 50%; 
}


/* addd media queries */
 @media only screen and (max-width: 600px) {
    .header {
        display: flex;
        height: 200px;
    } 
    .col-12 {
        display: flex;
        
    }
    .footer {
        font-size: 20px;
    }
    
}